<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breakup</title>
</head>
<body>
    <center>
        <h1>-><button><h2>BREAK UP</h2></button><-</h1>
          <h1>idhuvarai</h1>
        <h1>Illaatha unarvidhu</h1>
   <h1>Idhayathai thundaakkum ninaividhu</h1>
      <h1>Manadhinai mannodu</h1>
    <h1>Pudhaithidum pennai nambaathae</h1>
            <h1>Kaadhal endraal</h1>
         <h1>Athanaiyum kanavu</h1>
           <h1>Kann moodiyae</h1>
          <h1>Vaazhgindra uravu</h1>
           <h1>Pengal endraal</h1>
        <h1>Aanai kollum noiyaanathae</h1>
             <h1>Aiyyo intha</h1>
         <h1>Ilamaiyin thodakkam</h1>
          <h1>Indrae muttrupulli</h1>
         <h1>Adhai sollaamal solli</h1>
    <h1>Nammai paiththiyam aakkum</h1>
     <h1>Pennai thedi tholaiyaathae…</h1>
    </center>
    <center>
        <h2><a href="{% url 'yuvan' %}">Return yuvan</a></h2>
    </center>
</body>
</html>