<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commited</title>
</head>
<body>
    <center>
        <h1>-><button><h2>COMMITED</h2></button><-</h1>
            <h1>Oore avala patha</h1>
        <h1>Ava enna mattum patha</h1>
      <h1>Yaar sonnalum namba maata</h1>
        <h1>Ava thaanda number keta</h1>
           <h1>Pasanga scene eh potta</h1>
        <h1>Ava kandukavae maata</h1>
          <h1>En kooda pecha pota</h1>
       <h1>Naan enna avalo smart ah</h1>
         <h1>Cute aana smile eh potu</h1>
              <h1>Saachitalae</h1>
        <h1>Kan jaada kaati enna</h1>
              <h1>Kouthitalae</h1>
       <h1>First ellam ozhunga ninnen</h1>
          <h1>Ennaadi enna panna</h1>
          <h1>Nidhaanam ippo illa</h1>
        <h1>Kaalum tharayil nikkavilla</h1>
          <h1>Saachitalae aala saachitalae</h1>
     <h1>Maathitalae vazhka maathitalae</h1>
        <h1>Saachitalae aala saachitalae</h1>
     <h1>Maathitalae vazhka maathitalae</h1>
             <h1>Aala saachitalae</h1>
        <h1>Vazhka maathitalae</h1>
          <h1>Aala saachitalae</h1>
         <h1>Vazhka maathitale...</h1>
    </center>
    <center>
       <h2><a href="{% url 'yuvan' %}">Return yuvan</a></h2>
    </center>
</body>
</html>