<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oneside</title>
</head>
<body>
    <center>
        <h1>-><button><h2>ONE SIDE</h2></button><-</h1>
            <h1>Kaadhal vaithu</h1>
        <h1>Kaadhal vaithu kathirunthen</h1>
        <h1>Kaatril unthan kural mattum</h1>
            <h1>Kettirunthen</h1>
            <h1>Sirithai isai arinthen</h1>
        <h1>Nadanthai dhisai arinthen</h1>
          <h1>Kaadhal enum kadalukkul</h1>
           <h1>Naan vizhunthen</h1>
        <h1>Karaiyinil vantha pinnum</h1>
            <h1>Naan midhanthen</h1>
          <h1>Asainthai anbae asainthen</h1>
        <h1>Azhagai aiyo tholainthen</h1>
               <h1>Kaadhal vaithu</h1>
        <h1>Kaadhal vaithu kathirunthen</h1>
        <h1>Kaatril unthan kural mattum</h1>
            <h1>Kettirunthen</h1>
          <h1>Asainthai anbae asainthen</h1>
         <h1>Azhagai aiyo tholainthen</h1>
          <h1>Devathai kadhai kettapothellam</h1>
         <h1>Nijam endru ninaikkavillai</h1>
       <h1>Neril unnaiyaee… partha pinbu naan</h1>
         <h1>Nambi vitten marukkavillai</h1>
           <h1>Adhikalai vidivathellam</h1>
           <h1>Unnai parkkum mayakkathilthan</h1>
             <h1>Andhi malai maraivathellam</h1>
             <h1>Unnai partha kirakkathilthan...</h1>
    </center>
    <center>
        <h2><a href="{% url 'yuvan' %}">Return yuvan</a></h2>
    </center>
</body>
</html>