<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Singles</title>
</head>
<body>
    <center>
        <h2>-><button><h2>SINGLES</h2></button><-</h2>
           <h1>Aa….aaa…aa…</h1>
       <h1>Haa….aaa…aa….</h1>
       <h1>Vaazhkaiya yosingada….
    <h1>Thala ezhutha nalla vaasingada</h1>
        <h1>Yosichu paarungada</h1>
      <h1>Ellorum onna serungada</h1>
    <h1>Irukkura varaikkum anubavikka</h1>
        <h1>Ilamai yeththukkada</h1>
    <h1>Varugira varaikkum laabamada</h1>
      <h1>Vasathiya thedungada… go….</h1>
          <h1>Ini jalsa pannungada….</h1>
     <h1>Gujaala jilpa kaattungada</h1>
        <h1>Ini jalsa pannungada…</h1>
     <h1>Gujaala jilpa kaatungada</h1>
            <h1>Ahaan…….</h1>
     <h1>Gnyaabagam vanthathada….</h1>
<h1>Andha naal gnayaabagam vanthathada</h1>
     <h1>Nanbanai vida oruthan</h1>
     <h1>Lifekku thevai illaiyada</h1>
   <h1>Natpukku kooda karpugal undu</h1>
       <h1>Nalla therinjukkada</h1>
 <h1>Arputhamaana nanbargal serntha</h1>
     <h1>Vettrigal kumiyumada</h1>
    <h1>Nam vettrigal kumiyumada...</h1>
    </center>
    <center>
        <h2><a href="{% url 'yuvan' %}">Return yuvan</a></h2>
    </center>
</body>
</html>