<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GEN</title>
</head>
<body>
    <center>
        <h1>-><button><h2>YUVAN SHANKAR RAJA</h2></button><-</h1>
        <h3>All Time Favorite's...</h3>
    </center>
    <center>    
        <h2>-><u>One Side</u><-</h2>
        <h3><a href="{% url 'sad:oneside' %}">Kaadhal Vaithu</a></h3>
    </center>
    <center>
        <h2>-><u>Commited</u><-</h2>
        <h2><a href="{% url 'sad:commited' %}">Saachitale</a></h2>
    </center>
    <center>    
        <h2>-><u>BREAKUP</u><-</h2>
        <h2><a href="{% url 'sad:breakup' %}">idhuvarai</a></h2>
    </center>
    <center>    
        <h2>-><u>SINGLES</u><-</h2>
        <h2><a href="{% url 'sad:singles' %}">Vaazhkaiya yosingada</a></h2>
    </center>
</body>
</html>